@charset "UTF-8";
/*******************
RENSHUU.PAAZMAYA.COM
*******************/
/*
http://kuler.adobe.com/#themeID/979806

Light blue: 129EF7
Dark red: 5E0202
Yellow: B7B529
Blue: 034A77
Red: AA1515
White: F9FBF7
Black: 05050D
Grey: 67828A

Green: 0E3621

*/
* {
	margin:0;
	padding:0;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 100%;
}
body {
	background-color: #034A77;
	color: #05050D;
	padding: 1em;
}
a {
	color: #05050D;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
p {
	padding: 0.5em;
}


div {
	display: block;
}
form {
	padding: 0.2em;
}
legend {
	color: #05050D;
	background-color: #F9FBF7;
	border: 1px solid #05050D;
	padding: 0.2em 1em;
	margin-left: 10%;
}
fieldset {
	border: 1px solid #05050D;
}
template { 
	display: none; 
}

address {
	font-size: 85%;
	font-style: normal;
}
h1, h2, h3, h4, h5 {
	color: #5E0202;
	padding: 0.5em;
	border-bottom: 2px solid #5E0202;
}
h1 a, h2 a, h3 a, h4 a, h5 a {
	color: #5E0202;
}
h1 {
	font-size: 130%;
}
h2 {
	font-size: 115%;
}
h3 {
	font-size: 105%;
}
table {
	width: 100%;
	padding: 0.5em;
	border: 1px solid Black;
	background-color: #F9FBF7;
}
caption {
	padding: 0.5em;
	text-align: left;
}
th {
	text-align: left;
	padding: 0.5em;
}
td {
	padding: 0.5em;
}
/* IE will not show scrollbar */
textarea{
	overflow: auto;
}

ul, ol {
	list-style-position: inside;
}

