@charset "UTF-8";
/*******************
RENSHUU.PAAZMAYA.COM
*******************/
/*
bitscons
*/
.icon {
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: left center;
}

.icon-add {
	background-image: url('/img/bitscons/png/blue/32x32/add.png');
}
.icon-alert {
	background-image: url('/img/bitscons/png/blue/32x32/alert.png');
}
.icon-arrow1_se {
	background-image: url('/img/bitscons/png/blue/32x32/arrow1_se.png');
}
.icon-calendar {
	background-image: url('/img/bitscons/png/blue/32x32/calendar.png');
}
.icon-cellphone {
	background-image: url('/img/bitscons/png/blue/32x32/cellphone.png');
}
.icon-check {
	background-image: url('/img/bitscons/png/blue/32x32/check.png');
}
.icon-close {
	background-image: url('/img/bitscons/png/blue/32x32/close.png');
}
.icon-comment {
	background-image: url('/img/bitscons/png/blue/32x32/comment.png');
}
.icon-document {
	background-image: url('/img/bitscons/png/blue/32x32/document.png');
}
.icon-edit {
	background-image: url('/img/bitscons/png/blue/32x32/edit.png');
}
.icon-equalizer {
	background-image: url('/img/bitscons/png/blue/32x32/equalizer.png');
}
.icon-loop {
	background-image: url('/img/bitscons/png/blue/32x32/loop.png');
}
.icon-mail {
	background-image: url('/img/bitscons/png/blue/32x32/mail.png');
}
.icon-newwindow {
	background-image: url('/img/bitscons/png/blue/32x32/newwindow.png');
}
.icon-phone {
	background-image: url('/img/bitscons/png/blue/32x32/phone.png');
}
.icon-reload {
	background-image: url('/img/bitscons/png/blue/32x32/reload.png');
}
.icon-save {
	background-image: url('/img/bitscons/png/blue/32x32/save.png');
}
.icon-search {
	background-image: url('/img/bitscons/png/blue/32x32/search.png');
}
.icon-time {
	background-image: url('/img/bitscons/png/blue/32x32/time.png');
}
.icon-tools {
	background-image: url('/img/bitscons/png/blue/32x32/tools.png');
}
.icon-trash {
	background-image: url('/img/bitscons/png/blue/32x32/trash.png');
}
.icon-window {
	background-image: url('/img/bitscons/png/blue/32x32/window.png');
}
.icon-zoomin {
	background-image: url('/img/bitscons/png/blue/32x32/zoomin.png');
}
.icon-zoomout {
	background-image: url('/img/bitscons/png/blue/32x32/zoomout.png');
}

