@charset "UTF-8";
/*******************
RENSHUU.PAAZMAYA.COM
*******************/
/*
http://kuler.adobe.com/#themeID/979806

Light blue: 129EF7
Dark red: 5E0202
Yellow: B7B529
Blue: 034A77
Red: AA1515
White: F9FBF7
Black: 05050D
Grey: 67828A

Green: 0E3621

http://code.google.com/apis/webfonts/

*/
* {
	margin:0;
	padding:0;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 100%;
}
body {
	background-color: #034A77;
	color: #05050D;
	padding: 1em;
}
a {
	color: #05050D;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
div {
	display: block;
}
form {
	padding: 0.2em;
}
legend {
	color: #05050D;
	background-color: #F9FBF7;
	border: 1px solid #05050D;
	padding: 0.2em 1em;
	margin-left: 10%;
}
fieldset {
	border: 1px solid #05050D;
}
label, .label {
	width: 100%;
	display: block;
}
label span, .label span {
	text-align: right;
	width: 35%;
	display: block;
	float: left;
	margin-right: 2%;
	font-size: 85%;
}
input, select, form ul, form li {
	width: 60%;
	background-color: #F4F4F4;
	border: 1px solid #05050D;
	height: 1.5em;
}
input:hover, select:hover {
	background-color: #AA1515;
}
input[type=text], select {
	margin: 1px;
}
input[type=text]:focus, select:focus {
	border: 2px solid #0E3621;
	background-color: #67828A;
	margin: 0;
}
input[type=checkbox], input[type=radio] {
	width: 1em;
	vertical-align: middle;
}
span.radioset {
	width: 60%;
	text-align: left;
	background-repeat : no-repeat;
	background-attachment : scroll;
	background-position : right center;
}
span.radioset label {
	display: inline;
	margin: 0 0.5em;
}
span.after {
	font-size: 75%;
	float: none;
	display: inline;
}
input[type=button] {
	width: 40%;
	margin: 1em;
	height: 2em;
	background-color: #0E3621;
	color: #F9FBF7;
	font-weight: bold;
}
input[type=button]:focus {
	margin: 1em;
	border-width: 1px;
	background-color: #5E0202;
}
input[type=button]:hover {
	background-color: #AA1515;
}
input[disabled] {
	background-color: #5E0202;
}
input.short {
	width: 20%;
}
li {
	padding: 0.3em;
}
address {
	font-size: 85%;
	font-style: normal;
}
h1, h2, h3, h4, h5 {
	color: #5E0202;
	padding: 0.5em;
	border-bottom: 2px solid #5E0202;
}
h1 a, h2 a, h3 a, h4 a, h5 a {
	color: #5E0202;
}
h1 {
	font-size: 130%;
}
h2 {
	font-size: 115%;
}
h3 {
	font-size: 105%;
}
table {
	width: 100%;
	padding: 0.5em;
	border: 1px solid Black;
	background-color: #F9FBF7;
}
caption {
	padding: 0.5em;
	text-align: left;
}
th {
	text-align: left;
	padding: 0.5em;
}
td {
	padding: 0.5em;
}
td.odd, tbody tr:nth-child(odd) {
	background-color: #129EF7;
}
td.even, tbody tr:nth-child(even) {
	background-color: #0E3621;
}

/* IE will not show scrollbar */
textarea{
	overflow: auto;
}
#wrap, #bottom, #copyright {
	width: 100%;
	margin-bottom: 1em;
	clear: both;
	/*border: 2px solid #05050D;*/
	float: left;
}
#copyright {
	width: 50%;
	background-color: #0E3621;
	padding: 2em 0;
	text-align: center;
	margin-left: 25%;
	color: #F9FBF7;
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
}
#left, .left-side {
	width: 60%;
	float: left;
}
#right, .right-side {
	width: 40%;
	float: left;
	left: 60%;
}
#right > div, .right-side > div  {
	padding-left: 1em;
}
#map {
	height: 20em;
}
#street {
	height: 15em;
	border: 1px solid #05050D;
	/*display: none; */
}
#tools {

}
#filtering {

}
#filtering a[rel] {
	padding: 0.5em;
}
.header {
	background-color: #0E3621;
	padding-left: 2em;
	color: #F9FBF7;
	border-radius: 1em 1em 0 0;
	-webkit-border-radius: 1em 1em 0 0;
	-moz-border-radius: 1em 1em 0 0;
}
.content {
	background-color: #F9FBF7;
	color: #05050D;
	padding-bottom: 0.5em;
	margin-bottom: 1em;
	border-radius: 0 0 1em 1em;
	-webkit-border-radius: 0 0 1em 1em;
	-moz-border-radius: 0 0 1em 1em;
}
.header p, .content p, #savedlist {
	padding: 0.5em;
}
.header p {
	font-weight: bold;
}
.header a {
	width: 65%;
	color: #F9FBF7;
}
.header span {
	width: 35%;
	float: right;
	text-align: right;
	font-size: 90%;
}

.form-info {
	font-size: 90%;
}

.content ul { list-style: none; margin-left: 1em; }
/*
.content ul:nth-child(odd) li { background-color: #AA1515; }
.content ul:nth-child(even) li { background-color: #5E0202; }
*/
/*.content input { margin: 0.5em 1em; }*/
.content a[rel] { font-size: smaller; }

.round {
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
}


.jquery-timepicker-mouseover { background-color: #5E0202; color: #F9FBF7; }

.qr_tools { background-image: url('http://chart.apis.google.com/chart?cht=qr&chs=21x21&chld=L|0&chl=Tools'); }
.qr_arts { background-image: url('http://chart.apis.google.com/chart?cht=qr&chs=21x21&chld=L|0&chl=Martial+Arts'); }
.qr_weekdays { background-image: url('http://chart.apis.google.com/chart?cht=qr&chs=21x21&chld=L|0&chl=Weekdays'); }
.qr_training { background-image: url('http://chart.apis.google.com/chart?cht=qr&chs=21x21&chld=L|0&chl=Training+Map'); }
.qr_street { background-image: url('http://chart.apis.google.com/chart?cht=qr&chs=21x21&chld=L|0&chl=Street+View'); }
.qr_forms { background-image: url('http://chart.apis.google.com/chart?cht=qr&chs=21x21&chld=L|0&chl=Forms'); }
.qr_profile { background-image: url('http://chart.apis.google.com/chart?cht=qr&chs=21x21&chld=L|0&chl=Profile'); }
.qr_saved { background-image: url('http://chart.apis.google.com/chart?cht=qr&chs=21x21&chld=L|0&chl=Saved+list'); }

/*
http://chart.apis.google.com/chart?cht=p&chs=50x50&chco=5E0202|5E0202|0E3621&chd=t:15,30,20&chf=bg,s,0E3621|c,s,F9FBF7

http://chart.apis.google.com/chart?chst=d_bubble_text_small&chld=bbT|曜|0E3621|F9FBF7

http://chart.apis.google.com/chart?chst=d_bubble_icon_text_small&chld=glyphish_todo|bbT|曜|F9FBF7|0E3621

http://chart.apis.google.com/chart?chst=d_text_outline&chld=F9FBF7|12|h|0E3621|b|曜

http://chart.apis.google.com/chart?chst=d_simple_text_icon_left&chld=曜|16|0E3621|glyphish_target|16|0E3621|121212
*/
.inputnotes, .inputnotes * {
	margin: 0;
	padding: 0;
	color: #F9FBF7;
}
div.inputnotes div {
	font-size: 90%;
	padding: 0.3em;
	padding-left: 0.4em;
	padding-top: 0.4em;
	margin-top: 0.2em;
}

div.inputnotes div.note {
	background: #5E0202;
}

div.inputnotes div.warning {
	background: #AA1515;
}

div.inputnotes div.info {
	color: #5E0202;
	background: #c4ea74;
}

ul.inputnotes li.note {
	margin-top: 0.2em;
	padding: 0.2em;
	padding-left: 0.6em;
	border-left: 1px #5E0202 dotted;
	list-style: none;
}

#simplemodal-container a.modalCloseImg {
	background:url(/img/x.png) no-repeat; /* adjust url as required */
	width:25px;
	height:29px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-15px;
	right:-18px;
	cursor:pointer;
}

.modal-info {
	display: block;
	background-color: #F9FBF7;
	width: 30em;
	float: left;
	clear: both;
	border: 2px solid Black;
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
}
.modal-info * {
	padding: 0.5em;
}
.modal-time {
	font-weight: bold;
}
.modal-location a {
	color: #5E0202;
}
address.geo {
	font-size: 70%;
}
address.geo span {
	text-align: right;
	display: block;
}
address.geo abbr {
	padding: 0.2em;
	color: #0E3621;
}
.modal-contact {
}
.modal-tools {
	border-top: 2px solid #5E0202;
}
.modal-tools a {
	color: #0E3621;
	font-weight: bold;
}
/* will contain a background image */
.modal-close {
	background-repeat : no-repeat;
	background-attachment : scroll;
	background-position : right center;
}

.hide {
	display: none;
}


#navigation {
	display: inline-block;
	width: 90%;
	padding: 0.5em;
	font-weight: bold;
	color: #F9FBF7;
}

#navigation li {
	float: left;
	display: inline;
	list-style: none;
	padding: 0 0.4em;
}

#navigation a {
	font-size: 85%;
	padding-bottom: 0.3em;
}

#navigation a:hover {
	border-bottom: 0.3em solid #AA1515;
	color: #AA1515;
	text-decoration: none;
}

.selected a {
	border-bottom: 0.3em solid #129EF7;
	color: #129EF7;
}

/* http://www.1stwebdesigner.com/development/useful-css-snippets */
.transparent {
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}