/*******************
RENSHUU.PAAZMAYA.COM
*******************/
/*
http://kuler.adobe.com/#themeID/979806
red: #AA1515
white: #F1EFFF
blue: #279BE3
brown red: #8C635C
green: #0E3621
black: #100212
*/
* { margin:0; padding:0; font-family: Verdana, Geneva, sans-serif; }
body { background-color: #AA1515; color: #100212; padding: 1em; }
a { color: #100212; text-decoration: none; }
a:hover { text-decoration: underline; }
div { display: block; }

form { background-color: #AA1515; }
legend { color: #100212; background-color: #F1EFFF; border: 1px solid #100212; padding: 0.2em 1em; margin-left: 10%; }
fieldset { border: 2px solid #100212; width: 40em; }
fieldset p { width: 100%; padding: 4px; display: block; }
label { width: 100%; display: block; }
label span { text-align: right; width: 11em; display: block; float: left; margin-right: 1em; }
input, select, form ul, form li { width: 28em; background-color: #F1EFFF; border: 1px solid #100212; }
input[type=checkbox] { width: 1em; }
input[type=button] { width: 12em; margin: 1em; height: 2em; }
input.numeric { width: 12em; }

#wrap, #bottom  { 
	width: 100%; 
	margin-bottom: 1em; 
	clear: both; 
	/*border: 2px solid #100212;*/
	float: left; 
 }
#left { width: 60%; float: left; }
#right { width: 40%;  float: left; left: 60%; }
#right > div { padding-left: 1em; }
#map { 
	height: 30em; 
}
#street { height: 15em; border: 1px solid #100212; display: none; }
#tools {

}
#filters {

}
.header {
	background-color: #0E3621; 
	background-repeat: no-repeat;
	background-position: 0.5em center; 
	padding-left: 2em;
	color: #F1EFFF;
	border-radius: 0 0 1em 1em;
	-webkit-border-radius: 0 0 1em 1em;
	-moz-border-radius: 1em 1em 0 0;
}
.content {
	background-color: #F1EFFF; 
	color: #100212; 
	padding-bottom: 0.5em;
	margin-bottom: 1em;
	border-radius: 0 0 1em 1em;
	-webkit-border-radius: 0 0 1em 1em;
	-moz-border-radius: 0 0 1em 1em;
}
.header p, .content p, .header ul { padding: 0.5em; }
.header p, .header ul { font-weight: bold; }
.header a, .header ul { width: 65%; color: #F1EFFF; }
.header span { width: 35%; float: right; text-align: right; font-size: smaller; }


#tabs ul {
	font-size: small; /* could be specified at a higher level */
	border-bottom: 1px solid #333;
	display: list-item
}

#tabs li {
	float: left;
	display: inline;
	list-style: none;
}

#tabs ul a:link, #tabs ul a:visited {
	float: left;
	font-size: 85%;
	line-height: 2em;
	font-weight: bold;
	margin: 0 1em 0 1em;
	text-decoration: none;
}

#tabs ul a.active:link, #tabs ul a.active:visited, #tabs ul a:hover {
	border-bottom: 4px solid #333;
	padding-bottom: 0.3em;
	color: #333;
}


.content ul { list-style: none; margin: 1em; }
/*
.content ul:nth-child(odd) li { background-color: #AA1515; }
.content ul:nth-child(even) li { background-color: #8C635C; }
*/
.content input { margin: 0.5em 1em; }
.content a[rel] { font-size: smaller; }

.round { border-radius: 0.5em; -webkit-border-radius: 0.5em; -moz-border-radius: 0.5em; }

.jquery-timepicker-mouseover { background-color: #279BE3; color: #F1EFFF; }

.qr_tools { background-image: url('http://chart.apis.google.com/chart?cht=qr&chs=21x21&chld=L|0&chl=Tools'); }
.qr_arts { background-image: url('http://chart.apis.google.com/chart?cht=qr&chs=21x21&chld=L|0&chl=Martial+Arts'); }
.qr_weekdays { background-image: url('http://chart.apis.google.com/chart?cht=qr&chs=21x21&chld=L|0&chl=Weekdays'); }
.qr_training { background-image: url('http://chart.apis.google.com/chart?cht=qr&chs=21x21&chld=L|0&chl=Training+Map'); }
.qr_street { background-image: url('http://chart.apis.google.com/chart?cht=qr&chs=21x21&chld=L|0&chl=Street+View'); }
.qr_forms { background-image: url('http://chart.apis.google.com/chart?cht=qr&chs=21x21&chld=L|0&chl=Forms'); }
.qr_profile { background-image: url('http://chart.apis.google.com/chart?cht=qr&chs=21x21&chld=L|0&chl=Profile'); }
/*
http://chart.apis.google.com/chart?cht=p&chs=50x50&chco=279BE3|8C635C|0E3621&chd=t:15,30,20&chf=bg,s,0E3621|c,s,F1EFFF

http://chart.apis.google.com/chart?chst=d_bubble_text_small&chld=bbT|曜|0E3621|F1EFFF
 	
http://chart.apis.google.com/chart?chst=d_bubble_icon_text_small&chld=glyphish_todo|bbT|曜|F1EFFF|0E3621

http://chart.apis.google.com/chart?chst=d_text_outline&chld=F1EFFF|12|h|0E3621|b|曜

http://chart.apis.google.com/chart?chst=d_simple_text_icon_left&chld=曜|16|0E3621|glyphish_target|16|0E3621|121212
*/

div.inputnotes div {
	font-size: 11px;
	padding: 3px;
	padding-left: 4px;
	padding-top: 4px;
	margin-top: 2px;
}

div.inputnotes div.note {
	color: #fff;
	background: #333;
}

div.inputnotes div.warning {
	color: #fff;
	background: #f03;
}

div.inputnotes div.info {
	color: #333;
	background: #c4ea74;
}

ul.inputnotes {
	margin: 0px;
}

ul.inputnotes li.note {
	color: #aaa;
	margin: 0px;
	margin-top: 2px;
	padding: 2px;
	padding-left: 6px;
	border-left: 1px #999 dotted;
	list-style: none;
}




.ui-tabs-hide {
	display: none;
}