/*******************
RENSHUU.PAAZMAYA.COM
*******************/
/*
http://kuler.adobe.com/#themeID/979806
red: #AA1515
white: #F1EFFF
blue: #279BE3
brown red: #8C635C
green: #0E3621
black: #100212
*/
* { margin:0; padding:0; font-family: Verdana, Geneva, sans-serif }
body { background-color: #AA1515; color: #F1EFFF; }
a { color: #F1EFFF; }
#wrap { width: 90%; margin: 10px; padding: 10px; border: 2px solid #100212; }
#map { width: 50%; height: 700px; border: 1px solid #100212; float: left; }
#street { width: 50%; height: 300px; border: 1px solid #100212; display: none; /*float: left; */}

form { background-color: #AA1515; }
legend { color: #100212; background-color: #F1EFFF; border: 1px solid #100212; padding: 2px 6px; margin-left: 10%; }
fieldset { border: 2px solid #100212; width: 40em; }
fieldset p { width: 100%; padding: 4px; display: block; }
label { width: 100%; display: block; }
label span { text-align: right; width: 11em; display: block; float: left; margin-right: 1em; }
input, select, form ul, form li { width: 28em; background-color: #F1EFFF; border: 1px solid #100212; }
input[type=checkbox] { width: 1em; }
input[type=button] { width: 12em; margin: 1em; height: 2em; }
input.numeric { width: 12em; }

.round { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }

.jquery-timepicker-mouseover { background-color: #279BE3; color: #F1EFFF; }



div.inputnotes div {
	font-size: 11px;
	padding: 3px;
	padding-left: 4px;
	padding-top: 4px;
	margin-top: 2px;
}

div.inputnotes div.note {
	color: #fff;
	background: #333;
}

div.inputnotes div.warning {
	color: #fff;
	background: #f03;
}

div.inputnotes div.info {
	color: #333;
	background: #c4ea74;
}

ul.inputnotes {
	margin: 0px;
}

ul.inputnotes li.note {
	color: #aaa;
	margin: 0px;
	margin-top: 2px;
	padding: 2px;
	padding-left: 6px;
	border-left: 1px #999 dotted;
	list-style: none;
}
