##
## RENSHUU.PAAZMAYA.COM
##

RewriteEngine on
RewriteBase /

RewriteRule ^(ajax/.*)$ ajax.php?page=$1 [L,QSA]
RewriteRule ^(auth/.*)$ auth.php?page=$1 [L,QSA]
RewriteRule ^(export/.*)$ list.php?page=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?page=$1 [L,QSA]

# Removal of www.
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^ http://%1%{REQUEST_URI} [R=301,L]

# last|L (last rule)
# qsappend|QSA (query string append)

# Use UTF-8 encoding for anything served text/plain or text/html
AddDefaultCharset utf-8

# Javascript is not text/plain
AddType application/javascript js
AddType application/json json

# Application cache as in HTML5
AddType text/cache-manifest .appcache

# Force UTF-8 for a number of file formats
AddCharset utf-8 .css .js .xml .json .rss .atom

# make markup strict
php_value arg_separator.output "&amp;"

php_flag log_errors 1
php_flag html_errors 0
php_value error_log "../renshuu.php.log"

# longer session, default 1440 seconds = 24 min, 86400 sec = 24 h
php_value session.gc_maxlifetime 86400
# default 180 minutes
php_value session.cache_expire 1440
php_value session.cookie_lifetime 86400

php_flag session.use_trans_sid 0
php_flag session.use_only_cookies 1
php_value session.name "RE"

# 日本標準時
php_value date.timezone "Asia/Tokyo"
php_value date.default_latitude "35.700556"
php_value date.default_longitude "139.715"

php_value default_charset "UTF-8"
#php_admin_value mail.log "../renshuu.mail.log"

# Defaults to 128M in 5.3, 16M in 5.2
php_value memory_limit "256M"
php_value sendmail_from "renshuu@paazmaya.com"

# Correct encoding for the multibyte operations
php_value mbstring.internal_encoding "UTF-8"

# User agent string that is sent while fetching data
php_value user_agent "RenshuuSuruToki 0.8.429"


php_value iconv.input_encoding "UTF-8"
php_value iconv.internal_encoding "UTF-8"
php_value iconv.output_encoding "UTF-8"

