<?php
/*******************
RENSHUU.PAAZMAYA.COM
*******************/
$cf = array();

// Is the current server the one I am using for testing?
$cf['isdevserver'] = false;

// Current time
$cf['now'] = strval(time());

// Current version of this web site project. 
$cf['version'] = '0.8.20120223';

// PHP error log
$cf['error_log'] = '/domains/renshuu.php.log';

// Session validity referer check
$cf['referer_check'] = 'renshuu.paazmaya.com';

// PHP libraries
$cf['libdir'] = '../../renshuu-libs/';

/ Google Maps API version
// http://code.google.com/p/gmaps-api-issues/wiki/JavascriptMapsAPIv3Changelog
$cf['gmapsver'] = '3.7'; // 3.7 was released 2011-11-07

//http://code.google.com/apis/maps/documentation/javascript/tutorial.html
$cf['gmapskey'] = '';

// Translations
$cf['gettextdomain'] = 'renshuuSuruToki';
$cf['localedir'] = '../../locale';

// Languages supported
$cf['languages'] = array(
	'en' => 'en_GB',
	'fi' => 'fi_FI',
	'fr' => 'fr_FR',
	'it' => 'it_IT',
	'ja' => 'ja_JP',
	'sl' => 'sl_SI'
);

// SQLite, MySQL or even PostgreSQL database
$cf['db'] = array(
	'type' => 'mysql',
	'address' => 'localhost',
	'port' => 3307, // mysql: 3307, postgresql: 5432
	'database' => 'renshuu',
	'username' => 'renshuu',
	'password' => '******'
);

// E-mail for sending from the site
$cf['email'] = array(
	'address' => 'renshuu@paazmaya.com',
	'password' => '******',
	'pop3' => 'mail.paazmaya.com:110',
	'smtp' => 'mail.paazmaya.com:587',
	'log' => '../../renshuu.mail.log'
);

// How to show date and time?
// http://www.php.net/manual/en/function.date.php
$cf['datetime'] = 'd/m/Y H:i';
// http://www.php.net/manual/en/timezones.php
$cf['timezone'] = 'Asia/Tokyo';

$cf['title'] = '練習';

// Minified (and possibly gzipped) CSS and JS files share this prefix
$cf['minified'] = 'renshuu.min';

// Log for the minification actions, mainly to track filesizes
$cf['minifylog'] = '../../renshuu.minification.log';

// Which iconset will be used? /img/[iconset]/png/[color]/[size]/*.png
$cf['iconset'] = 'bitcons';

// http://twitter.com/oauth_clients/
// http://dev.twitter.com/
$cf['twitter'] = array(
	'consumer_key' => '*****************',
	'consumer_secret' => '***************************',
	'request_token_uri' => 'http://twitter.com/oauth/request_token',
	'access_token_uri' => 'http://twitter.com/oauth/access_token',
	'authorize_uri' => 'http://twitter.com/oauth/authorize'
);

// Used for translation ajax service. 
// http://code.google.com/apis/ajaxsearch/
$cf['google'] = array(
	'apikey' => '*************'
);


// -------------------------------------------------------------------
// AFTER THIS LINE NOTHING SHOULD BE CHANGED, AS FOR SETTINGS IN MIND.
// -------------------------------------------------------------------

// Set the common settings.
ini_set('error_log', $cf['error_log']);
ini_set('session.referer_check', $cf['referer_check']);
ini_set('error_reporting', E_ALL | E_STRICT);

// Allow compressing the pages.
ini_set('zlib.output_compression', '1');
ini_set('zlib.output_compression_level', '6');

// This site should become popular in Japan...
date_default_timezone_set($cf['timezone']);

// Correct encoding for the multibyte operations
mb_internal_encoding('UTF-8');

// Include path update so the tools are internally found.
set_include_path(realpath($cf['libdir']));
