<body data-username="##user_name##" data-email="##user_email##" data-street-view-enabled="##streetview_enabled_setting##">
	<div id="map"></div>
	<div id="session">
		<p>##user_name## (##user_email##) <a href="/logout" title="##user_logout##">[##user_logout##]</a></p>
		<label>##show_trainings##<input type="checkbox" name="showtrainings" checked="checked" /></label>
	</div>
	<div id="bottom">
		<div id="left" class="bottom-tabs">
			<div class="icon-list">
				##left_navigation##
			</div>
			<div class="tab-title"><p>Street View</p></div>
			<div class="tab-content">
				<div id="street">Google Maps Street View</div>
				<div id="weekdays" style="display:none;" class="filters">
					##weekdayshortcuts##
					##weekdaylist##
				</div>
				<div id="arts" class="filters">
					##artshortcuts##
					##artlist##
				</div>
				<div id="saved" style="display:none;">##saved_table##</div>
			</div>
		</div>
		<div id="forms" class="bottom-tabs">
			<div class="icon-list">
				##forms_navigation##
			</div>
			<div class="tab-title"><p>Martial Arts</p></div>
			<div class="tab-content">
				<div id="art" style="display:none;">##form_art##</div>
				<div id="training" style="display:none;">##form_training##</div>
				<div id="location" style="display:none;">##form_location##</div>
				<div id="person" style="display:none;">##form_person##</div>
				<div id="profile" style="display:none;">##form_profile##</div>
			</div>
		</div>
	</div>
