<body>
	<div id="wrap">
		<div id="left" class="left-side">
			<div id="mapping">
				<div class="header icon icon-tools">
					<p><a href="#" rel="map">#_#Training locations#_#</a><span></span></p>
				</div>
				<div class="content">
					<div id="map" class="stuff">Google Maps V3</div>
				</div>
				<div class="header icon icon-search">
					<p><a href="#" rel="street">#_#Street View#_#</a>
						<span>
							<label><input type="checkbox" name="markerstreet" /> #_#toggle SV#_#</label>
						</span>
					</p>
				</div>
				<div class="content">
					<div id="street" class="stuff">Google Maps Street View</div>
				</div>
				<div class="header icon icon-calendar">
					<p><a href="#" rel="savedlist">#_#Saved list#_#</a><span></span></p>
				</div>
				<div class="content">
					<div id="savedlist" class="stuff">
						##savedlist##
					</div>
				</div>
			</div>
		</div>

		<div id="right" class="right-side">
			<div>
				<div class="header icon icon-equalizer">
					##navigation##
				</div>
				<div class="content">
					<div class="stuff" id="tabcontent">
						<div id="filtering">
							##artshortcuts##
							##artlist##
							##weekdayshortcuts##
							##weekdaylist##
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="header icon icon-edit">
					<p><a href="#" rel="export">#_#Export settings#_#</a><span></span></p>
				</div>
				<div class="content">
					<div id="export" class="stuff">
						##exportform##
						<p><img id="exportpreview" src="##staticmap##" alt="#_#Preview of the current settings affect on the resulting map#_#" /></p>
					</div>
				</div>
			</div>
		</div>

	</div>
	##copyright##
