<!DOCTYPE html>
<html lang="##lang##">
<head>
	<title>##title##</title>
	<meta charset="utf-8" /> 
	<meta name="description" content="##description##" />
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1, user-scalable=no, width=device-width" />
	<link rel="author" href="http://paazio.nanbudo.fi" />
	<link rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/" />
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="icon" type="image/ico" href="/favicon.ico" />
	##stylesheetmain##
	<link type="text/css" href="##stylesheeticon##" rel="stylesheet" />

	<script id="savedTemplate" type="text/x-jquery-tmpl">
		<tr rel="${id}">
			<td>${artTitle}</td>
			<td>${weekDay}/td>
			<td>${startTime} - ${endTime}/td>
			<td><a href="#remove-${id}" rel="remove" title="${removeTitle} - ${weekDayInt}">
				<img src="/img/sanscons/png/green/32x32/close.png" alt="${removeTitle}" />
			</a></td>
		</tr>
	</script>
		
	<script id="feedbackTemplate" type="text/x-jquery-tmpl">
		<h1 title="${message}">${message}</h1>
		{{if title}}
			<p><strong>${title}</strong></p>
		{{/if}}
		<p>
			<a href="#" data-key="insert" data-ref="0" data-action="clear" title="${renshuuMain.lang.form.createnew}">
				${renshuuMain.lang.form.createnew} / ${renshuuMain.lang.form.clear}
			</a>
		</p>
		<p>
			<a href="#" data-key="update" data-ref="${id}" data-action="keep" title="${renshuuMain.lang.form.modify}">
				${renshuuMain.lang.form.modify}
			</a>
		</p>
	</script>
	
	<script id="modalTemplate" type="text/x-jquery-tmpl">
		<div class="modal-info vevent">
			{{if (artId && artTitle)}}
				<h2 class="summary" rel="art-${artId}">
					<a href="#training-${trainingId}" class="modal-close uid icon-close" title="${artTitle}">${artTitle}</a>
				</h2>
			{{/if}}
			{{if weekDay}}
				<p class="modal-time" rel="training-${trainingId}">${weekDay}
				{{if trainingStime && trainingEtime}}
					<span class="dtstart" title="${trainingStime}">${trainingStime}</span>
					-<span class="dtend" title="${trainingEtime}">${trainingEtime}</span>
				{{/if}}
				</p>
			{{/if}}
			{{if personId && personTitle}}
				<p class="modal-contact" rel="person-${personId}">${personTitle}
				{{if personContact}}
					 ( ${personContact})
				{{/if}}
				</p>
			{{/if}}
			{{if locationId && locationTitle}}
				<p class="modal-location" rel="location-${locationId}">${locationTitle}
				{{if locationUrl}}
					<a href="${locationUrl}" title="${locationTitle}"> ${locationUrl}</a>
				{{/if}}
				</p>
			{{/if}}
			{{if locationLat && locationLng}}
				<address class="geo">
					{{if locationAddr}}
						${locationAddr}
					{{/if}}
					<span>
						<abbr class="latitude" title="${locationLat}">${renshuuMap.deg2dms(locationLat, true)}</abbr>
						<abbr class="longitude" title="${locationLng}">${renshuuMap.deg2dms(locationLng, false)}</abbr>
					</span>
				</address>
			{{/if}}
			{{if trainingId}}
				<p class="modal-tools">
					<a href="#training-${trainingId}" title="${langSave}" rel="savetolist">${langSave}</a>
					<a href="#training-${trainingId}" title="${langRemove}" rel="removefromlist" style="display:none;">${langRemove}</a>
				</p>
			{{/if}}
		</div>
	</script>

</head>